.row.blog_item(id="#{blog._id}")
	.col-xs-6.col-sm-2
		img.img-circle(src="#{blog.img}")
	.col-xs-12.col-sm-9
		.row
			.col-xs-12
				h2= blog.title
		.row
			.col-xs-12.blog_item_author_date
				span by - 
					a(href="#")= blog.author
				span.pull-right= blog.date
		.row
			.col-xs-12
				= blog.post

		.row
			.col-xs-12
				include blog_item1
		.row
			.col-xs-12
				span.blog_item_share
					p WAWDWDA