doctype html		
html(lang="en")
	head
		include meta
		title="Contact . Youly"
		include style
		link(rel="icon", href="img/branding/favicon.ico" type="image/x-icon")

		style.
			#sidebar > div {
				width: 100px;
				height: 600px; 
				margin-top: 10px; 
				background-color: blue; 
				position: fixed; 
				left: 0; 
				top: 172px;
			}
			#stuff {
				height: 1000px;
				width: 300px;
	
			}
			#footer, #header{
				height: 172px;
				width: 300px;
				background-color: yellow; 
			}

		body(data-spy="scroll" data-target=".vertical-right-navbar")
		include header



		.container-fluid.bg_eee
			.container.yly-m-t_b
				.col-xs-12.col-sm-4
					h3 Press contact
					p
						span.glyphicon.glyphicon-phone
						span(style="margin-left: 20px;") (+298) 24 33 42
						br
						span.glyphicon.glyphicon-envelope
						span(style="margin-left: 20px;") 
							a(href="mailto:press@youly.dk", target="_top") press@youly.dk

					p
						| For any other general enquiries, please contact us at 
						a(href="mailto:support@youly.dk", target="_top") support@youly.dk 
						| or visit our 
						a(href="/contact") contact page.

		.container
			.col-xs-12.col-sm-9.yly-m-t_b#press_design-guidelines-wrapper
				.row.section.yly-m-t#press_release
					.col-xs-12
						h3.text-center.yly-m-t_b Press Releases
					.col-xs-12
						table.table.table-hover(style="border-bottom: 1px solid #ddd;")
							thead
								tr
									th(width="20%") Date
									th(width="60%") Title
									th(width="20%") Publisher
							tbody
								tr
									td 25-03-2014
									td
										b
											a(href="http://is.fo/node/271", target="_blank") Youly &aacute; Framt&iacute;&eth;artorginum
									td &Iacute;verksetarah&uacute;si&eth;
						h1(style="margin-top: 50px;") &nbsp;
				.row.section.yly-m-t#press_design_guidelines
					.col-xs-12
						h3.text-center.yly-m-t_b Design Guidelines
				.row
					.col-xs-12.col-sm-6
						p
							| We have gathered all the necessary Youly contents and graphics for the Press usage.
							| It includes: Logos, photography, colour palette and our typography.
						p
							| If you are seeking any additional information, don't hesitate to ask for assistance.
						.btn-group
							button.btn.btn-youly.btn-lg(type="button") DOWNLOAD - 38 MB

					.col-xs-12.col-sm-5.col-sm-offset-1.yly_press-download
						p.visible-xs
							|  
						h4 Logos
						p
							a(href="#") .RAR

						h4 Youly Photography
						p
							a(href="#") .RAR
							
						h4 Color Palette
						p
							a(href="#") .PDF

						h4 Typography
						p
							a(href="#") .PDF



				.row.section.yly-m-t#press_logos
					.col-xs-12
						h3.text-center.yly-m-b Logos




				.row.yly-m-t#press_logos_default
					.col-xs-12
						h4 Default logo
					.col-xs-12.col-sm-5
						p
							| Green colour and transparent background is our most used logo.
						p

							| Downlaod as 
							a(href="img/branding/youly_text_green_shadow.png", target="_blank", download="youly_text_green_shadow.png") PNG
					.col-xs-12.col-sm-4.col-sm-offset-1
						a(href="img/branding/youly_text_green_shadow.png", target="_blank")
							img.bg_eee(src="img/branding/youly_text_green_shadow.png", width="100%")


				.row.yly-m-t#press_logos_white
					.col-xs-12
						h4 White logo
					.col-xs-12.col-sm-5
						p
							| White logo with transparent background
						p

							| Downlaod as 
							a(href="img/branding/youly_text_white_shadow.png", target="_blank", download="youly_text_white_shadow.png") PNG
					.col-xs-12.col-sm-4.col-sm-offset-1
						a(href="img/branding/youly_text_white_shadow.png", target="_blank")
							img(src="img/branding/youly_text_white_shadow.png", width="100%")


				.row.yly-m-t#press_logos_inverted
					.col-xs-12
						h4 Inverted logo
					.col-xs-12.col-sm-5
						p
							| White logo with our branding green colour as background
						p

							| Downlaod as 
							a(href="img/branding/youly_green_bg.png", target="_blank", download="youly_green_bg.png") PNG
					.col-xs-12.col-sm-4.col-sm-offset-1
						a(href="img/branding/youly_green_bg.png", target="_blank")
							img(src="img/branding/youly_green_bg.png", width="100%")






				.row.section.yly-m-t#press_youly_photography
					.col-xs-12
						h3.text-center.yly-m-b Youly Photography

				.row
					.col-xs-12
						#carousel-example-generic1.carousel.slide(data-ride="carousel")
							ol.carousel-indicators
								li.active(data-target="#carousel-example-generic_0", data-slide-to="0")
								li(data-target="#carousel-example-generic_1", data-slide-to="1")
								li(data-target="#carousel-example-generic_2", data-slide-to="2")
								li(data-target="#carousel-example-generic_3", data-slide-to="3")
							.carousel-inner
								.item.active
									img(src="img/index/carousel/1.png", alt="zero", style="width: 100%; height: 500px;")
									.carousel-caption
										h1.heeeyawd Download
										p 
											i Scan the code, or click the button!
											b  Youly is Free
								.item
									img(src="img/index/carousel/2.png", alt="zero", style="width: 100%; height: 500px;")
									.carousel-caption
										h1.heeeyawd Download
										p 
											i Scan the code, or click the button!
											b  Youly is Free
								.item
									img(src="img/index/carousel/3.png", alt="zero", style="width: 100%; height: 500px;")
									.carousel-caption
										h1.heeeyawd Download
										p 
											i Scan the code, or click the button!
											b  Youly is Free
								.item
									img(src="img/index/carousel/4.png", alt="zero", style="width: 100%; height: 500px;")
									.carousel-caption
										h1.heeeyawd Download
										p 
											i Scan the code, or click the button!
											b  Youly is Free
							a.left.carousel-control(href="#carousel-example-generic1", data-slide="prev", style="background-image: none;")
								span.glyphicon.glyphicon-chevron-left
							a.right.carousel-control(href="#carousel-example-generic1", data-slide="next", style="background-image: none;")
								span.glyphicon.glyphicon-chevron-right
					script.
						$('.carousel').carousel({
							interval: 2000
						})
					.col-xs-12
						h6 Download all photos as
							a(href="#") &nbsp;.RAR




				<!-- Color Palette-->
				.row.section.yly-m-t#press_color_palette
					.col-xs-12
						h3.text-center.yly-m-b Color Palette
					.col-xs-12
						.row
							- var colors = [{c: "#FFFFFF", r: 255, g: 255, b: 255}];
							- colors.push({c: "#EEEEEE", r: 238, g: 238, b: 238});
							- colors.push({c: "#888888", r: 136, g: 136, b: 136});
							- colors.push({c: "#3C3C3C", r: 60, g: 60, b: 60});
							- colors.push({c: "#2A2A2A", r: 42, g: 42, b: 42});
							- colors.push({c: "#000000", r: 0, g: 0, b: 0});
							- colors.push({c: "#3FAEA4", r: 63, g: 174, b: 164});
							- colors.push({c: "#0A9E90", r: 10, g: 158, b: 144});
							- colors.push({c: "#076B62", r: 10, g: 107, b: 98});

							- each val in colors
								.col-xs-6.col-sm-4.col-md-3
									div.yly_press-clr
										h2(style="background-color: #{val.c};") &nbsp;
										span
											b.center-block= val.c
										.row.text-center
											.col-xs-6
												B R:
											.col-xs-6
												span= val.r
										.row.text-center
											.col-xs-6
												B G:
											.col-xs-6
												span= val.g
										.row.text-center
											.col-xs-6
												B B:
											.col-xs-6
												span= val.b
					.col-xs-12
						h6 Download as
							a(href="img/branding/youly_color_palette.pdf", target="_blank", download="youly_color_palette.pdf") &nbsp;.PDF







				.row.section.yly-m-t#press_typography
					.col-xs-12
						h3.text-center.yly-m-b Typography
					.col-xs-12
						pre
							p
								p.yly_press-typography Paragraph: The quick brown fox jumps over the lazy dog.
								span Font: Lato, size: 14px, weight: 400;
								h6.yly_press-typography H6: The quick brown fox jumps over the lazy dog.
								span Font: Lato, size: 14px, weight: 400;
								h5.yly_press-typography H5: The quick brown fox jumps over the lazy dog.
								span Font: Lato, size: 16px, weight: 700;
								h4.yly_press-typography H4: The quick brown fox jumps over the lazy dog.
								span Font: Lato, size: 16px, weight: 700;
								h3.yly_press-typography H3: The quick brown fox jumps over the lazy dog.
								span Font: Lato, size: 24px, weight: 400;
								h2.yly_press-typography H2: The quick brown fox jumps over the lazy dog.
								span Font: Lato, size: 34px, weight: 400;
								h1.yly_press-typography H1: The quick brown fox jumps over the lazy dog.
								span Font: Lato, size: 52px, weight: 300;
					.col-xs-12
						h6
							a(href="http://fonts.googleapis.com/css?family=Lato:400,700,300", target="_blank") View fonts

			<!-- Vertical right navbar, fixed top 300 -->
			.col-xs-12.col-sm-3.yly-m-t_b
				.vertical-right-navbar.vertical-affix
					ul.list-unstyled.nav
						li
							a(href="#press_release") Press Release
						li
							a(href="#press_design_guidelines") Design Guidelines
						li
							a(href="#press_logos") Logos
						li
							a(href="#press_youly_photography") Youly Photography
						li
							a(href="#press_color_palette") Color Palette
						li
							a(href="#press_typography") Typography


		include nav_buttom
		include footer
		include script
